{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Gourab Saha</title>
    <link href="/static/css/main.css" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
</head>
<body>
    <div style="background-image:url(/static/images/bck.jpg);width:none;height:none;font-size:none;">

    <br>
    <div class="container">
     <div class="row">
            <div class="col-md-3">
                <div class="card card-body" id="profile-wrapper">
                    <img id="profile-pic" src="/static/images/soku.jpg" >
                    <hr>
                    <h4>Hi, I'm Gourab</h4>
                    <p>I love coding and building websites</p>

                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body">
                <h4>About Me:</h4>
                <hr>
                <p>My name is Gourab Saha and I'm from Kolkata,India. I'm a graduate in B.Tech with stream of Leather Technology from Government College Of Engineering And Leather Technology in the year 2020.</p>
                
                <p>After gradution, I joined ArinMediTourIn as Marketing Executive. ArinMediTourIn is a hospital tourism company and I worked there for 7 months.</p>
                
                <p>As I wanted to change my career path, I studied and taken courses in programming languages by my-self.</p>

                <ul class="social-links">
                    <li><a href="https://www.facebook.com/gourab.saha.96387189/"><img src="/static/images/fb.PNG" style="width:30px;height:30px"></a></li>
                    <li><a href="mailto:gourabsaha667@gmail.com"><img src="/static/images/email.PNG" style="width:30px;height:30px"></a></li>
                    <li><a href="https://www.linkedin.com/in/gourab-saha-3818741b5/"><img src="/static/images/lkdn.PNG" style="width:30px;height:30px"></a></li>
                    
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body">
                <h4>Education:</h4>
                <hr>
                <p><h5>Government College Of Engineering And Leather Technology</h5><br>
                <h0>B.Tech in Leather Technology</h0><br>
                <h0>From 2016-2020</h0>
                <h0>Marks Obtained: 7.98</h0>
                </p>
                <p><h5>Kalyani Public School</h5><br>
                <h0>C.B.S.E</h0><br>
                <h0>From 2014-2016</h0>
                <h0>Marks Obtained: 67%</h0>
                </p>
                <p><h5>The Central Modern School</h5><br>
                <h0>I.C.S.E</h0><br>
                <h0>From 1999-2014</h0>
                <h0>Marks Obtained: 74%</h0>
                </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body">
                <h4>Skills:</h4>
                <hr>
                <p><h5>-PYTHON</h5><br>
                <p><h5>-JAVA</h5><br>
                <p><h5>-SQL</h5><br>
                <p><h5>-MACHINE LEARNING</h5><br>
                <p><h5>-CLOUD COMPUTING</h5><br>
                <p><h5>-HTML</h5><br>
                <p><h5>-DJANGO</h5><br>
                <p><h5>-MICROSOFT OFFICE</h5><br>
                <p><h5>-KNOWLEDGE OF OOP's</h5><br>
                
                </p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body">
                <h4>Project:</h4>
                <p>LANXESS sustainable products and Article Development <br>(02/2020 - 03/2020) <br>LANXESS is known for its chemicals in Leather industry I had learned here about their chemicals and its properties Created samples of leathers and checked their sustainability.
                </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body">
                <h4>Work Experience:</h4>
                <p>ArinMediTourIn <br> 06/2020 - 12/2020 <br>KOLKATA, INDIA <br>ArinMediTourIn is a Hospital Tourism company. It has a website where clients/customers/patients register through the portal to their desired hospital.
                </p>
                </div>
            </div>
        </div>
        <br>
            <div class="col-md-6">
                <div class="card card-body">
                <h4>Certificates:</h4>
                <p>AWS certiﬁed in Machine Learning (04/2021 - 04/2021)
                    <br>Linkedin certiﬁed in Python (05/2021 - 05/2021)
                    <br>Udemy certiﬁed in Wordpress (05/2021 - 05/2021)
                    <br>Udemy certiﬁed in Python (05/2021 - 05/2021)
                    <br>Udemy certiﬁed in JAVA (05/2021 - 05/2021)
                </p>
                </div>
            </div>
        </div>
        <br>
    </div>
    </div>
</body>
</html>